@media screen and (max-width: 1080px) {
    .main{
        display: flex;
        flex-basis: 100%;
      
    }
    .nav2{
        margin-top: 10px;
    }
    .nav3{
        display: flex;
    }
    .social{
        margin-top: 10px;
    }
    .section{
        display: flex;
        flex-basis: 100%;
    }
    .logo{
        flex: 1;
    }
    .menu{
        flex: 3;
        font-size: 75%;
    }
    .menu span{
        margin:14px;
    }
}
@media screen and (max-width: 980px) {
    .nav1{
        display: inline-block;
    }
    .nav2{
        color: #1E90FF;
    }
    .nav3{
        max-width: 100%;
        display: flex;
        flex-direction: row;
    }
    .menu{
        display: none;
    }
    .section > i {
        display: inline-block;
        margin: 20px;
    }
}
@media screen and (max-width: 720px) {
   .main{
       display: flex;
   }
   .nav1{
       flex: 1;
   }
    .nav3{
        flex: 1;
    }
    .nav2{
        display: none;
    }
    .main-box{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: #f5f5f5;
    }
    .main-box > .box {
        min-width:40%;
        width: 250px;
        padding: 0px;
        
    }
    .our-serves > h1 ,div{
        font-size: 100%;
    }
    .misson-services{
        display: flex;
        flex-direction: row;
        margin:20px
    }.misson-services{
        display: flex;
        flex-direction: column;
        margin:20px;
        align-items: center;
        justify-content: center;
    }
    .mission-boxes{
        box-shadow: 1px 2px 4px #3f423f;
        margin: 20px;
        width: 100%;
    }
    .images-gallery img {
        min-width: 160px;
        width: 100%;
        height: 180px;
        transition: ease-in-out 2s;
    }
    .gallery > i {
        position: relative;
        left: 0%;
        color:#372dbd ;
        font-weight: bolder;
        transition: ease-in 2s;
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .main{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-box > .box {
        min-width:100%;
        width: 200px;
        padding: 0px;
        
    }
    section{
        margin-top: 50px;
        text-align: center;
        background-color: #f7f2f2;
        padding-bottom: 20px;
        width: 100%;
    }
    section .content {
        height: 400px;
        margin-top: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: inherit;
    }
    footer{
        display: block;
        
    }
    footer > div {
        width: 100%;
        margin-top: 20px;
    }
    .section1 .section2 .section3 {
        width: 100%;
    
    }
    .section2 .section3 {
        padding: 20px 0px 0px 0px ;
    }
 }