*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #1E90FF		;
}
.nav1{
    flex: 1;
}
.nav2{
    flex: 2;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.nav3{
    flex: 1;
    align-items: center;

}
.social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social > img{
    width: 15px;
    height: 15px;
    padding: 10px;
    
}

.social i {
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
.social i:hover {
    background-color: #1E90FF;
    cursor: progress;
}
.nav3 button{
    outline: none;
    background-color: #fff;
    border: 1px solid #008000;
    color: #008000;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}
.section{
    display:flex;
    padding: 10px;
    /* position: fixed;
    top: 10%;
    background-color: #dad2d2;
    width: 100%; */

}

.logo{
    flex: 1;
}
.menu{
    flex: 2;
    padding: 15px;
}
.menu span{
    margin: 20px;
}
.menu > .active{
    background-color: #1E90FF	;
    padding: 10px;
    margin: 10px;
    border-radius:30px;
}
.menu span:hover{
    background-color: #1E90FF	;
    padding: 10px;
    margin: 10px;
    border-radius:30px;

}
.slider img {
    width: 100%;
    max-width: 100%;
}
section{
    margin-top: 50px;
    text-align: center;
    background-color: #f7f2f2;
    padding-bottom: 20px;
}
section > h1 {
    font-size: 34px;
    font-weight: bolder;
}
section .content {
    margin:100px;
    margin-top: 20px;
    text-align: left;
}

section .content p{
    margin-top: 30px;
}
.section > i {
    display: none;
}
.counters{
    display: flex;
}